body {
  padding: 0px;
  margin: 5px;
}

.form {
  margin: 0 auto;

  margin-top:15%;
  max-width: 450px;
  min-width: 450px;
}



.form input, button {
  margin-top: 5px;
  width: 97% !important;
}


.list-item {
  margin: 5px;
}
